
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
section{
    height: 66vh;
    width: 100vw;
    /* padding: 5vh 5vw 5vh 5vw; */
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.section{
    height: 66vh;
    width: 100vw;
    /* padding: 5vh 5vw 5vh 5vw; */
    color: white;
}

.terrabg{
    background-color: #26a6fc;
}

.Footer-bg{
    background-color: #0A294DCC;
    width: 1231px;
    height: 269px;
}
.navbar-cart-item{
    font-weight: 700;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
}
body{
    overflow-x: hidden;
  /* background-color: #26a6fc; */
}
.polygon{
width: 10px;
height: 10px;
border-radius: 1px;
rotate: 180;
}
.navbar{
    background-color: #26a6fc;

} 
.navbar-2 {
    background-color: #26a6fc; 
     
}

.new-lot{
    background-color:  #8A93E5;
    position: relative;
    top:-115px;
    left:98px;
    border-radius:0px 10px 10px 0;
}
.bg-00{
    background-color: #FF2B77;
    
}
.arrow{
    box-shadow: 0px 4px 6px 0px #8A93E526;
    background-color: #8A93E5;
   
}

.outer-gola{
    background-color:  hsla(0, 0%, 100%, 1);

}
.inner-gola{
    box-shadow: 0px 4px 50px 0px hsla(202, 15%, 54%, 0.25);

}
.text1-color{
    color: hsla(205, 38%, 31%, 1);
    
}
.text2-color{
    color: hsla(11, 75%, 57%, 1);
    margin-top:5px;
}

/* .op-20 {
    opacity: 0.2; /* Set opacity to 20% 
  
   */
  
  .op-100 {
    opacity: 1; /* Set opacity to 100% */
  }
  